{% extends "../base/base.html" %}


{% block stronyGlownej %}


<h3>Opis SWATH</h3>
<p>Metoda analizy białek SWATH-MS (ang. Sequential Window Acquisition of all Theoretical fragment ion spectra) to zaawansowana technika spektrometrii mas, która umożliwia ilościową analizę białek. Ta metoda jest szczególnie przydatna w badaniach proteomicznych, gdzie dokładne i kompleksowe profile białek są kluczowe. Dzięki SWATH-MS, naukowcy mogą uzyskać szczegółowe informacje o strukturze i ilości białek w próbkach biologicznych. Metoda ta jest wykorzystywana w różnych dziedzinach, takich jak biologia molekularna, biochemia i medycyna, do badania różnych aspektów funkcji białek. W porównaniu do innych metod, SWATH-MS oferuje wyższą czułość i dokładność, co czyni ją niezwykle cennym narzędziem w badaniach naukowych.
</p>
<h3>Opis aplikacji</h3>
<p></p>

{% endblock %}